Question details

<h6>{{question.problem}}</h6>
<p>
  {{question.notes}}
</p>


<button {{action 'delete' question}} class="btn">Delete</button>

<h2> Answers </h2>
<ul>
  {{#each question.answers as |answer|}}
  {{answer-tile answer=answer}}
  {{/each}}
</ul>
