<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">Question Master</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li>{{#link-to 'index'}}Home{{/link-to}}</li>
    </ul>
  </div>
</nav>

{{outlet}}
